:root {
  --theme-color: #00CDAE;
}

* {
  box-sizing: border-box;  
}

.mt-50 {
  margin-top: 50px;
}

body {
    margin: 0px;
    padding: 0px;
    color: #111821;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

h1 {
    margin-top: 10px;
    line-height: 1.3;
}

h2 {
    margin-top: 0px;
}

.section-title {
  font-size: 25px;
    color: #161616;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
}
.section-title::after {
    position: absolute;
    content: "";
    background: #ffffff;
    width: 7px;
    height: 7px;
    left: -15px;
    top: 0;
    right: 0;
    overflow: hidden;
    -webkit-animation: line 8s infinite;
    animation: line 8s infinite;
}
@-webkit-keyframes line {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes line {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.section-title:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background: #009688;
    left: -15px;
    z-index: -1;
}  


button {
    padding: 10px;
    cursor: pointer;
    background-color: var(--theme-color);
    color: #FFFFFF;
    font-weight: 700;
    border: 2px solid var(--theme-color);
    border-radius: 10px;
}

button:hover {
  background-color: transparent;
  color: var(--theme-color);
  -webkit-transition: all 0.5s;
  transition: all 0.2s;
}

button:hover a{
  color: var(--theme-color);
  -webkit-transition: all 0.5s;
  transition: all 0.2s;
}

button > a {
    color: #FFFFFF;
    text-decoration: none;
}
/* 
button a:hover button{
  border: 2px solid var(--theme-color);

} */

/* Splash Screen */

.intro {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
  
}

.intro img{
position: absolute;
left: 45%;
top: 25%;

}

.logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00CDAE;
  z-index: 9999;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  /* opacity: 0; */
  color: #ffffff;
}

.logo.active {
  bottom: 0;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.logo-fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--theme-color);
    box-shadow: 0px 0px 3px 0px var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* .active {
  background-color: red;
} */

.navbar-logo {
    padding: 1rem;
}

.navbar-content ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    text-decoration: none;
}

.navbar-content li {
    list-style: none;
}

.navbar-content li a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    font-weight: 700;
}

.navbar-content li a:hover{
    background-color: #ffffff;
    color: var(--theme-color);
}

.navbar-content li #page1:active{
    background-color: var(--theme-color);
}

.navbar-toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 21px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.navbar-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media (max-width:991px) {
    .navbar-toggle {
        display:flex;
    }

    .navbar-content{
        display: none; 
        width: 100%;
    } 

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
    }

    .navbar-content ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-content li{
        text-align: center;
        padding: .50rem;
    }

    .navbar-content.active {
        display: flex;
    }

}

/* Home */
.flex-box {
    display: flex;
    margin-top: 120px;
    /* flex-wrap: wrap; */
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.flex-box > .info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    
    height: auto;
    background-color: transparent;
}


.flex-box > .info > ul {
    display: flex;
    padding-left: 0px;
}

.flex-box > .info > ul li {
    margin-right: 20px;
    list-style: none;
}

.flex-box > .profilePic {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0px auto;
    height: auto;
    /* background-image: url("../image/background.webp"); */
    opacity: 0.8; 
    background-size: cover;
  
}

.flex-box  .mobile{
  display: none;

}

.profilePic > .profilePic {
    border-radius: 20%;
    height: auto;
    max-width: 100%;
}

.flex-box-skills {
  padding-left: 5%;
  padding-right: 5%;
}

.flex-box-skills .box {
  padding: 10px;
  text-align: justify;
  box-shadow: 0px 0px 3px 0px #111821;
  margin: 10px;
}

.flex-box-workflow {
    display: flex;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    padding-left: 5%;
    padding-right: 5%;
    flex-basis: 33.33%;
    
}

.flex-box-workflow .box{
    padding: 10px;
    text-align: justify;
    box-shadow: 0px 0px 3px 0px #302f2f;
    margin: 10px;
}

/* About */
@-webkit-keyframes svg-text-anim {
  40% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   60% {
     stroke-dashoffset: 0;
     fill: #009688;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #009688;
   }
   
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   60% {
     stroke-dashoffset: 0;
     fill: #009688;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #009688;
   }
   
}

/* Portfolio */
.flex-box-portfolio {
  display: flex;
  margin-top: 50px;
  /* flex-wrap: wrap; */
  padding-left: 5%;
  padding-right: 5%;
  flex-basis: 33.33%;
  
}

.rtl-content {
  position:fixed;
  right:6%;
  bottom:10%;
  z-index:9999999
 }
 .rtl-content::before {
  content:'';
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height:100%
 }
 .rtl-content .rtl-btn {
  display:inline-block;
  width:90px;
  height:90px;
  line-height:92px;
  background-color:#2A3290;
  border-radius:50%;
  color:#fff;
  position:relative;
  z-index:1;
  box-shadow:0 20px 70px rgba(0,0,0,.2)
 }
 .rtl-content .rtl-btn span {
  font-size:30px;
  position:absolute;
  left:0;
  text-align:center;
  right:0;
  top:0;
  font-weight:700
 }
 .rtl-content .rtl-btn::after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  z-index:-1;
  bottom:0;
  left:0;
  border-radius:50%;
  border:1px solid #00CDAE;
  -webkit-animation:ripple 2s linear 1s infinite;
  animation:ripple 2s linear 1s infinite
 }
 .rtl-content .rtl-btn::before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  z-index:-1;
  bottom:0;
  left:0;
  border-radius:50%;
  border:1px solid #00CDAE;
  -webkit-animation:ripple 2s linear infinite;
  animation:ripple 2s linear infinite
 }
 .rtl-content .rtl-btn .rtl-content .rtl-btn:focus,
 .rtl-content .rtl-btn:hover {
  background-color:#2A3290;
  color:#fff
 }
 @-webkit-keyframes ripple {
  0% {
   -webkit-transform:scale(1);
   transform:scale(1)
  }
  75% {
   -webkit-transform:scale(1.75);
   transform:scale(1.75);
   opacity:1
  }
  100% {
   -webkit-transform:scale(2);
   transform:scale(2);
   opacity:0
  }
 }
 @keyframes ripple {
  0% {
   -webkit-transform:scale(1);
   transform:scale(1)
  }
  75% {
   -webkit-transform:scale(1.75);
   transform:scale(1.75);
   opacity:1
  }
  100% {
   -webkit-transform:scale(2);
   transform:scale(2);
   opacity:0
  }
 }

.flex-box-portfolio .box{
  padding: 10px;
  text-align: justify;
  box-shadow: 0px 0px 3px 0px #302f2f;
  margin-top: 30px;
}
.flex-box-portfolio .box a{
  text-decoration: none;
  color: #FFFFFF;
}

.shape1 {
  position: absolute;
  top: 15%;
  left: 62%;
  -webkit-animation: animationFramesOne 15s linear infinite;
          animation: animationFramesOne 15s linear infinite;
}

.shape2 {
  position: absolute;
  top: 55%;
  left: 2%;
  -webkit-animation: animationFramesOne 15s linear infinite;
          animation: animationFramesOne 15s linear infinite;
  z-index: -1;
}


@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}


.flex-box-portfolio .box img {
  height: 300px;
}

/* Education & Skills */

.table-box {
    
    margin-top: 50px;
    /* flex-wrap: wrap; */
    padding-left: 5%;
    padding-right: 5%;
    
}

table.table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: var(--theme-color);
    border-style: solid;
    color: #000000;
  }
  
  table.table td, table.table th {
    border-width: 2px;
    border-color: var(--theme-color);
    border-style: solid;
    padding: 3px;
  }
  
  table.table thead {
    background-color: var(--theme-color);
  }

  /* Guess the number game */
  #game {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid var(--theme-color);
  }

  #submitGuess {
    background-color: transparent;
    padding: 10px;
    color: #252525;
  }

  #resetbtn {
    background-color: transparent;
    padding: 10px;
    color: #252525;
    float: right;
  }

  .msg {
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid var(--theme-color);
  }

  .red {
    background-color: red;
    padding: 20px;
  }

  .green {
    background-color: green;
    padding: 20px;
  }

  .white {
    background-color: var(--theme-color);
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
  }

/* Contact Page */

.contact-title {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

 .flex-box-contact  {
    display: flex;
    margin-top: 50px;
    align-items: center;
    /* flex-wrap: wrap; */
    padding-left: 10%;
    justify-content: center;
} 

.card {
    width: 90%;
    margin:30px auto;
    padding: 30px 90px 90px 90px;
    border: 1px solid var(--theme-color);
    box-shadow: 0px 0px 3px 0px var(--theme-color);
    border-radius: 50px;
    position: relative;
  }
  
  .card h2 {
    color: #252525;
    /* font-size: 40px; */
    text-transform: uppercase;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #252525;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 0px var(--theme-color);
    color: #252525;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #252525;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid var(--theme-color);
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 0px var(--theme-color);
    padding: 5px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 3px solid var(--theme-color);
    color: var(--theme-color);
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }

/* Footer */
footer {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    width: 100%;
    background-color: #252525;
    height: auto;
    display: flex;
    justify-content: space-between;
}

footer .box  {
    margin-top: 30px;
}

footer .box  ul{
    padding: 0px;
}

footer .box ul li{
    list-style: none;
    color: #FFFFFF;
}

footer .box ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

